<h1>Recent Events</h1>

<% if not account_signed_in? %>
<a class="btn" href="/accounts/sign_in">Sign In</a>
<a class="btn" href="/accounts/sign_up">Register</a>
<% else %> 
<div id="logView"></div>

<%= link_to "Log out", destroy_account_session_path, :method => :delete, :class => "btn" %><br/>

<% end %>