extends layout/default.pug
block content 
  // include legal.pug
  .mui-container-fluid
    .mui-row
      .mui-col-sm-3
        include acct/_login.pug
      
      .mui-col-sm-9.mui--divider-left
        h2 Built with MERN
        p 
         | There are many technology stacks used to build websites. This demonstration site
         | is built with MongoDB, Express.js, React.js and Node.js.

        p Please refer to the documentation at <a href="https://github.com/sj4nes/gatehouse">Github</a>.

        p Reach out to Simon Janes at <a href="https://www.linkedin.com/in/simonjanes/">LinkedIn</a> for more information.
        