extends layout/default.pug
block content 
  // include legal.pug
  .mui-container-fluid
    .mui-row
      .mui-col-sm-3
        include acct/_login.pug
      
      .mui-col-sm-9.mui--divider-left
        h2 Built with MERN
        p 
         | There are many technology stacks used to build websites. This demonstration site
         | is built with MongoDB, Express.js, React.js and Node.js.

        p Please refer to the documentation at <a href="">Github</a>.
        h2 Test Actions
        a.mui-btn.mui-btn--raised(href="/acct/dashboard") Dashboard
        p The following test commands will create or destroy data within the system.
        a.mui-btn.mui-btn--raised(href="/test/generateData") Generate Test Data
        a.mui-btn.mui-btn--danger(href="/test/eraseAuthEvents") Erase Auth Events
        a.mui-btn.mui-btn--danger(href="/test/eraseUsers") Erase Users
        a.mui-btn.mui-btn--danger(href="/test/eraseDb") Erase Database (All Data)