//- layout/default.pug
doctype html
html
  head
    title gatehouse: #{title}
    link(rel='stylesheet' href='/css/mui.min.css') 
    link(rel='stylesheet' href='/css/mui-colors.min.css') 
    link(rel='stylesheet' href='/css/gatehouse.css') 
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block scripts
      script(src='/js/mui.min.js')
      script(src='/js/lodash.min.js')
      script(src='/js/react-with-addons.min.js')
      script(src='/js/react-dom.min.js')
  body
    .mui-appbar.mui--bg-color-grey-500(style="margin-bottom: 1rem;")
        .mui-container-fluid
            .mui-row
                .mui-col-sm-3
                    h1 
                        a.mui--color-black(href="/") gate<b>house</b>
                .mui-col-sm-4
                    h1= title
                .mui-col-sm-2.mui--color-black
                    if username 
                        span Logged in as 
                           b
                              = username
                        | &nbsp;
                        button.mui-btn.mui--bg-color-grey-400(onclick="document.location='/acct/logout'") Logout
                    else
                        span Not logged in.
    #screen
        .mui-container-fluid
            if messages && messages.length > 0
                .mui-panel.mui--bg-color-green-100
                    h4 Notices
                    while message = messages.shift()
                        p
                            em= message
            if errors && errors.length > 0
                .mui-panel.mui--bg-color-red-100
                    h4 Errors
                    while error = errors.shift()
                        p
                            b= error

            block content
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107011081-2")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments)};
      | gtag('js', new Date());
      | gtag('config', 'UA-107011081-2');
