extends ../layout/default.pug 
prepend scripts
  script
    | var exports = {};
block content
  .mui-row
    .mui-col-sm-3
      h3 What is this?
      p Simple display of authentication events displayed in order of most-recent.
      h2 Demo Controls
      p The following test commands will create or destroy data within the system.
      a.mui-btn.mui-btn--raised(href="/test/generateData") Generate Test Data
      a.mui-btn.mui-btn--danger(href="/test/eraseAuthEvents") Erase Auth Events
      a.mui-btn.mui-btn--danger(href="/test/eraseUsers") Erase Users
      a.mui-btn.mui-btn--danger(href="/test/eraseDb") Erase Database (All Data)
    .mui-col-sm-9.mui--divider-left
      table.mui-table#authevents
        thead
          tr
            th Col 1
            th Col 2
            th Col 3
        tbody
          tr
            td Content
            td Content
            td Content                            
          tr
            td Content
            td Content
            td Content                            
          tr
            td Content
            td Content
            td Content
  script(src='/js/viz-table-authevents.js')